body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#box{
    width: 20rem;
    text-align: center;
    background: blue;
    color:#fff;
    border-radius: 8px;
    font-size: 25px;
}